@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.doggy-nav {
    background: linear-gradient(to top, #FF7E2E, #2E90FF);
    display: inline-block;
    margin-right: 5%;
    width: 35%;
    height: 90vh;
    border-radius: 0 0 30px 0;
    box-shadow: 8px 10px #E3E8ED;
  }
  
  .doggy-nav-list {
    list-style: none;
    display: flex;
    gap: 30%;
    justify-content: center;
    align-items: center;
    margin-right: 6%;
    margin-top: 5%;
  }


  .doggy-images {
    display: flex;
    margin-top: 40%;
    justify-content: center;
  }

  .dog1 {
    position: absolute;
    width: 21%;
    right: 25%;
    margin-top: 65%;
    overflow: hidden;
  }

  .dog2 {
    position: absolute;
    width: 20%;
    height: 50vh;
    margin-left: 7%;
    margin-top: 76%;
    z-index: 1;
  }

  .dog3 {
    position: absolute;
    right: 0%;
    width: 25%;
    height: 70vh;
    margin-top: 47%;
  }

  .doggy-nav-btn {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    padding: 2px;
  }

  .doggy-nav-link {
    text-decoration: none;
    color: black;
    font-weight: 500;
  }
  
  .doggy-nav-link:hover {
    color: #ddd;
    transition: 0.3s;
  }
  @media (max-width: 1080px) {
    .doggy-nav {
        height: 60vh;
    }
}
  