.doggy-nav {
    background: linear-gradient(to top, #FF7E2E, #2E90FF);
    display: inline-block;
    margin-right: 5%;
    width: 35%;
    height: 90vh;
    border-radius: 0 0 30px 0;
    box-shadow: 8px 10px #E3E8ED;
  }
  
  .doggy-nav-list {
    list-style: none;
    display: flex;
    gap: 30%;
    justify-content: center;
    align-items: center;
    margin-right: 6%;
    margin-top: 5%;
  }


  .doggy-images {
    display: flex;
    margin-top: 40%;
    justify-content: center;
  }

  .dog1 {
    position: absolute;
    width: 21%;
    margin-right: 25%;
    margin-top: 7%;
    overflow: hidden;
  }

  .dog2 {
    position: absolute;
    width: 20%;
    height: 50vh;
    margin-top: 12.70%;
    z-index: 1;
  }

  .dog3 {
    position: absolute;
    right: 0%;
    width: 25%;
    height: 70vh;
    margin-top: -7.2%;
  }

  .doggy-nav-btn {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    padding: 2px;
  }

  .doggy-nav-link {
    text-decoration: none;
    color: black;
  }
  
  .doggy-nav-link:hover {
    color: #ddd;
  }
  @media (max-width: 1080px) {
    .doggy-nav {
        height: 60vh;
    }
}
  